[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "1.24.4"
ipykernel = "*"
matplotlib = "*"
pandas = "*"
scipy = "*"
mne = "*"
scikit-learn = "*"
pyxdf = "*"
pyedflib = "*"

[dev-packages]
black = {version = "*", extras = ["jupyter"]}

[requires]
python_version = "3.11"
